.bg-pink{
    background-color: #f3e9f1;
}

.bg-purple {
    background-color: #8f5bfe!important;
}

.border-purple {
    border-color: #8f5bfe!important;
}

.btn-purple {
    color: #fff;
    background-color: #8f5bfe!important;
    border-color: #8f5bfe!important;
}

.coverIndex {
    object-fit: cover;
    height: 300px
}

.coverProduit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.purple-link {
    color: #8f5bfe!important;
}

.pink-gradient {
    background: linear-gradient(to bottom ,#f3e9f1 , #fff );
}
