.bg-pink{
    background-color: #f3e9f1;
}

.bg-purple {
    background-color: #8f5bfe!important;
}

.border-purple {
    border-color: #8f5bfe!important;
}

.btn-purple {
    color: #fff;
    background-color: #8f5bfe!important;
    border: none !important;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black, 2px 2px 5px inset white !important;
    &:hover {
    box-shadow: 2px 2px 5px inset black, -2px -2px 5px inset white !important;
    }
}

.basket {
    background: linear-gradient(110deg, #e78b05, #8f5bfe 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.coverIndex {
    object-fit: cover;
    height: 300px
}

.coverProduit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.purple-link {
    color: #8f5bfe!important;
}

.pink-gradient {
    background: linear-gradient(to bottom ,#f3e9f1 , #fff );
}

body {
    min-height: 100vh;
}
